# node modules
/node_modules
/client/node_modules
/server/node_modules

# env files
.env
/server/.env
/client/.env

# builds
/client/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
